/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */
/* #Reset & Basics 
================================================== */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;line-height:normal;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; margin: 0px; padding: 0px;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0;width:100%}
/* #Basic Styles
================================================== */
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:auto}

/* #Typography
================================================== */
h1,h2,h3,h4,h5,h6{font-weight:400}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight:inherit}
.subheader{color:#777}
p img{margin:0}
p.lead{font-size:21px;color:#777}
em{font-style:italic}
strong{font-weight:700}
small{font-size:80%}
blockquote,blockquote p{font-size:17px;line-height:24px;color:#777;font-style:italic}
blockquote cite{display:block;font-size:12px;color:#555}
blockquote cite:before{content:"\2014 \0020"}
blockquote cite a,blockquote cite a:visited,blockquote cite a:visited{color:#555}
ul{list-style:none outside}
ol{list-style:decimal}

/* #Links
================================================== */
a, a:visited{text-decoration:none;line-height:inherit;outline:none;-webkit-transition:.4s all ease-in-out;-moz-transition:.4s all ease-in-out;-o-transition:.4s all ease-in-out;transition:.4s all ease-in-out}


body {-webkit-font-smoothing: antialiased;font-size:14px;  font-family: Helvetica; ;color:#303030;-webkit-text-size-adjust: 100%; font-weight: 400;}

@font-face {
  font-family: 'Cardinal-Regular';
  src: url('fonts/Cardinal-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/Cardinal-Regular.woff') format('woff'), url('fonts/Cardinal-Regular.ttf')  format('truetype'), url('fonts/Cardinal-Regular.svg#Cardinal-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.wrapper{width: 100%; position: relative;}
.fix-container:before,.fix-container:after{content:"";display:table;}
/*header style*/
.header{padding: 25px; border-bottom: 5px;}
 .header .topBar {background-size:  cover; height: 475px; font-family: 'Cardinal-Regular'; padding-top: 25px;}
.header .topBar h1{background: rgba(255,255,255,0.6); color: #46403e; padding: 0px; font-size: 76px; text-align: center;}
.header .bottomBar{color: #fff; padding: 25px 0 0 0; display: inline-block; vertical-align: top; width: 100%;}
.header .bottomBar .leftBar{float: left; width: 84%; font-size: 25px; text-align: justify; max-height:175px; overflow:auto;}
.header .bottomBar .rightBar{float: right; border: 3px solid #fff; width: 165px; height: 165px; border-radius: 150px;overflow:hidden;}
.header .bottomBar .rightBar img{max-width: 100%; }
.contentBox{background-size:  cover; padding: 25px; border-bottom: 5px;} 
.contentBox .navBox{border: 2px solid #fff; display: inline-block; vertical-align: top; width: 100%; position:relative;z-index:1;}
.contentBox .navBox li{border: 2px solid #fff; float: left; width: 50%;}
.contentBox .navBox li a{display: table;height: 130px; vertical-align: middle; color: #fff; font-size: 30px; color: #fff; align-items: center; padding: 0px 40px; width: 100%;}

.contentBox .navBox li span{display: table-cell; vertical-align: middle; padding-left: 10px;}
.contentBox .navBox li a i{width: 70px; height: 55px; vertical-align: middle; display: table-cell; vertical-align: middle;  background-size: 100% auto !important;}
.contentBox .navBox li a .alarm{background:url(../images/button_icons/alarm@2x.png) no-repeat center center;}
.contentBox .navBox li a .call{background:url(../images/button_icons/call@2x.png) no-repeat center center;}
.contentBox .navBox li a .car{background:url(../images/button_icons/car@2x.png) no-repeat center center;}
.contentBox .navBox li a .checkin{background:url(../images/button_icons/checkin@2x.png) no-repeat center center;}
.contentBox .navBox li a .coffee{background:url(../images/button_icons/coffee@2x.png) no-repeat center center;}
.contentBox .navBox li a .conditioner{background:url(../images/button_icons/conditioner@2x.png) no-repeat center center;}
.contentBox .navBox li a .drugstore{background:url(../images/button_icons/drugstore@2x.png) no-repeat center center;}
.contentBox .navBox li a .emergency{background:url(../images/button_icons/emergency@2x.png) no-repeat center center;}
.contentBox .navBox li a .Fish{background:url(../images/button_icons/fish@2x.png) no-repeat center center;}
.contentBox .navBox li a .generic{background:url(../images/button_icons/generic@2x.png) no-repeat center center;}
.contentBox .navBox li a .guide{background:url(../images/button_icons/guide@2x.png) no-repeat center center;}
.contentBox .navBox li a .home{background:url(../images/button_icons/home@2x.png) no-repeat center center;}
.contentBox .navBox li a .instructions{background:url(../images/button_icons/instructions@2x.png) no-repeat center center;}
.contentBox .navBox li a .internet{background:url(../images/button_icons/internet@2x.png) no-repeat center center;}
.contentBox .navBox li a .lock{background:url(../images/button_icons/lock@2x.png) no-repeat center center;}
.contentBox .navBox li a .miscellaneous{background:url(../images/button_icons/miscellaneous@2x.png) no-repeat center center;}
.contentBox .navBox li a .oven{background:url(../images/button_icons/oven@2x.png) no-repeat center center;}
.contentBox .navBox li a .pen{background:url(../images/button_icons/pen.png) no-repeat center center;}
.contentBox .navBox li a .restaurant{background:url(../images/button_icons/restaurant.png) no-repeat center center;}
.contentBox .navBox li a .salon{background:url(../images/button_icons/salon.png) no-repeat center center;}
.contentBox .navBox li a .shopping{background:url(../images/button_icons/shopping@2x.png) no-repeat center center;}
.contentBox .navBox li a .taxi{background:url(../images/button_icons/taxi@2x.png) no-repeat center center;}
.contentBox .navBox li a .wifi{background:url(../images/button_icons/wifi@2x.png) no-repeat center center;}
.contentBox .navBox li a .washing{background:url(../images/button_icons/washing@2x.png) no-repeat center center;}
.contentBox .navBox li a .transportation{background:url(../images/button_icons/transportation.png) no-repeat center center;}

.alarm{background:url(../images/button_icons/alarm@2x.png) no-repeat center center;}
.call{background:url(../images/button_icons/call@2x.png) no-repeat center center;}
.car{background:url(../images/button_icons/car@2x.png) no-repeat center center;}
.checkin{background:url(../images/button_icons/checkin@2x.png) no-repeat center center;}
.coffee{background:url(../images/button_icons/coffee@2x.png) no-repeat center center;}
.conditioner{background:url(../images/button_icons/conditioner@2x.png) no-repeat center center;}
.drugstore{background:url(../images/button_icons/drugstore@2x.png) no-repeat center center;}
.emergency{background:url(../images/button_icons/emergency@2x.png) no-repeat center center;}
.Fish{background:url(../images/button_icons/fish@2x.png) no-repeat center center;}
.generic{background:url(../images/button_icons/generic@2x.png) no-repeat center center;}
.guide{background:url(../images/button_icons/guide@2x.png) no-repeat center center;}
.home{background:url(../images/button_icons/home@2x.png) no-repeat center center;}
.instructions{background:url(../images/button_icons/instructions@2x.png) no-repeat center center;}
.internet{background:url(../images/button_icons/internet@2x.png) no-repeat center center;}
.lock{background:url(../images/button_icons/lock@2x.png) no-repeat center center;}
.miscellaneous{background:url(../images/button_icons/miscellaneous@2x.png) no-repeat center center;}
.oven{background:url(../images/button_icons/oven@2x.png) no-repeat center center;}
.pen{background:url(../images/button_icons/pen.png) no-repeat center center;}
.restaurant{background:url(../images/button_icons/restaurant.png) no-repeat center center;}
.salon{background:url(../images/button_icons/salon.png) no-repeat center center;}
.shopping{background:url(../images/button_icons/shopping@2x.png) no-repeat center center;}
.taxi{background:url(../images/button_icons/taxi@2x.png) no-repeat center center;}
.wifi{background:url(../images/button_icons/wifi@2x.png) no-repeat center center;}
.washing{background:url(../images/button_icons/washing@2x.png) no-repeat center center;}
.transportation{background:url(../images/button_icons/transportation.png) no-repeat center center;}
.section-text-on-top li:before {
 content: "";
    float: left;
    height: 15px;
    margin: 0 10px 0 0;
    width: 15px;
      background:url(../images/play-button.png) no-repeat center center;background-size:100% auto;}
      


.contentBox .navBox li a .drug{background:url(../images/button_icons/drug-stroe.png) no-repeat center center;}

.footer{padding:25px; display: inline-block; vertical-align: top; width: 100%;}
.footer .change-lang{float: right;}
.footer .change-lang > ul li{float: left; margin-left: 10px; position: relative;}
.footer .change-lang .dropdown > a{background:url(../images/world-img.png) no-repeat 10px center #fff; color: #fff; padding:0px; display: inline-block; position: relative; height:47px; width:82px;}
.footer .change-lang .dropdown > a:after{border: 7px solid transparent; border-bottom-color: #000; position: absolute; content: ""; right: 10px; bottom: 21px;}
.footer .change-lang .dropdown .submenu{display: none; position: absolute; bottom: 100%; right: 0px; width: 150px; background: #fff;}
.footer .change-lang .dropdown:hover .submenu{display: block; }
.footer .change-lang .dropdown .submenu li{ border-bottom: 1px solid #eee;width: 100%; margin: 0px;}
.footer .change-lang .dropdown .submenu li a{display: block;padding: 7px 10px;}


@media (min-width: 991px) and (max-width: 1100px){
	.header .bottomBar .leftBar{width: 80%; font-size: 23px;}
}
@media (min-width: 768px) and (max-width: 990px){
	.header, .contentBox, .footer{padding: 20px;}
	.header .topBar{height: 360px}
	.header .bottomBar{padding-top: 20px;}
	.header .topBar h1{font-size: 60px;}
	.header .bottomBar .leftBar{width: 75%; font-size: 18px;}
	.contentBox .navBox li a{padding:0 20px; font-size: 22px; height: 120px;}
	.contentBox .navBox li a i{width: 75px; height: 75px}
}
@media (max-width:767px){
	.header, .contentBox, .footer{padding: 10px;}
	.header .topBar{height: 250px}
	.header .bottomBar{padding-top: 10px;}
	.header .topBar h1{font-size: 32px;}
	.header .bottomBar .leftBar{width: 100%; float: none; margin-bottom: 15px; font-size: 16px;}
	.header .bottomBar .rightBar{float: none; margin: 0 auto; }
	.contentBox .navBox, .contentBox .navBox li{border-width:1px;}
	.contentBox .navBox li a{padding:0 10px; font-size: 16px;}
	.contentBox .navBox li a i{width: 40px; height: 40px}
}
@media (min-width: 480px) and (max-width:767px){
	.contentBox .navBox li a{height: 80px;}
	}
@media (max-width:479px){

	.contentBox .navBox li {width: 100%;}
	.contentBox .navBox li a{height: 60px;}
	
}
